*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(imag.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

.main{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
    min-height: 100vh;
}

.main > button{
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid white;
    outline: none;
    background-color: rgba(255,255,255,0.5)
}

.main > button:hover{
    background-color: rgba(255,255,255,0.9);
}

.two{
    grid-column: span 2;
    background-color: rgba(204,229,255,0.7) !important;
}


.output{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.20);
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}


.output .previous{
    font-size: 1.5rem;
}

.output .current{
    font-size: 2.5rem;
}
